extends ../layout

block content
    h1= title
    p Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.
    form(method='post', action='/signup')
        div
            input#login.form-control(type='text', name='login', placeholder='login')
        div
            input#password.form-control(type='password', name='password', placeholder='password')
        div
            input#email.form-control(type='email', name='email', placeholder='email')
        div
        button(type='submit', onclick="submitForm()")#Enter.submit Enter

    script.
        signup.init();
