header.navbar
    div.header-content
        div.title-container
            h1.title
                a#logo(href='/games/words')
                    svg
                        path(d='M 0 0 L 0 30 L 17 30 L 17 25 L 5 25 L 5 0 L 0 0' stroke='red' fill='red')
                        circle(cx='13', cy='5', r='3', stroke='red' fill='red')
                        circle(cx='13', cy='15', r='3', stroke='red' fill='red')
                    span Englang Test Server
            ul.list-unstyled.navbar-sub-nav
                li
                    a(href='/games/words') Слова
                if(user)
                    li
                        a(href='/personalgame') Персональные слова
                li.dropdown
                    a(href='#') Неправильные глаголы
                        svg.caret-down
                            path(d='M 1 4 L 5 8 L 9 4' fill='none' stroke-width='2')
                    div.dropdown-menu
                        ul
                            li
                                a(href='/games/irregularverbs') Тренировка
                            li
                                a(href='/irregularverbs/list') Список неправильных глаголов
                li
                    a(href='/prepositions') Предлоги
                li
                    a(href='/articles') Статьи
                li
                    a(href='/texts') Тексты

        div.navbar-callapse
            ul.navbar-sub-nav.list-unstyled
                if(!user)
                    li
                        a(href='/signin') Вход
                    li
                        a(href='/signup') Регистрация
                else
                    li.header-user.dropdown
                        a(href='#')
                            img(src='https://secure.gravatar.com/avatar/3201742a7945a9c165a85682a5929925?s=46&d=identicon').header-user-avatar
                            svg.caret-down
                                path(d='M 1 4 L 5 8 L 9 4' fill='none' stroke-width='2')
                        div.dropdown-menu.dropdown-menu-align-right
                            ul
                                li
                                    a(href='/user') Профиль
                                if(user.accessRights === 1)
                                    li
                                        a(href='/addarticle') Добавить статью
                                    li
                                        a(href='/adminpanel/articles') Админ панель
                                li
                                    a(href='/adduserswords') Мои слова
                                li
                                    a(href='/feedback') Обратная связь
                                li
                                    a().logout Выход
script.
    (function () {
        let headerUser = document.getElementsByClassName('header-content')[0];
        const logoutEl = document.getElementsByClassName('logout')[0];

        logoutEl.addEventListener('click', logout, true);
        headerUser.addEventListener('click', aler, true);

        function aler(event) {
            if (event.target.closest('li') != null) {
                if (event.target.closest('li').classList.contains('dropdown')) {
                    if (event.target.closest('li').classList.contains('dropdown') && event.target.closest('li').classList.contains('open')) {
                        event.target.closest('li').classList.remove('open');
                    } else {
                        event.target.closest('li').classList.add('open');
                    }
                }

            }
        }

        function logout() {
            const http = new XMLHttpRequest();
            http.open('POST', '/logout', true);
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            http.send('login=-1 &password=-1');
            http.onreadystatechange = function () {
                if (this.readyState !== 4) return;
                if (this.status !== 200) return;
                window.location = '/';
            };
        }
    }());
