doctype html
html
  head
    //meta(name='google-site-verification', content='Mk28WK3UpwqbfJTO5cUqFWrZkoR5hwm9jbM4jwfh4qo')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8', http-equiv="Content-Type", content="text/html")
    script(src='/javascripts/build/build.min.js')
  body
    include partials/header.pug
    div.main
      div.content
        div.content2
          block content
        include partials/footer.pug
          //<meta name="google-site-verification" content="Mk28WK3UpwqbfJTO5cUqFWrZkoR5hwm9jbM4jwfh4qo" />