extends ../layout

block content
    h1= title
    form(method='post' action='/addarticle')
        input(type='text' placeholder='caption')
        textarea#mytextarea
        input(type='submit' value='Отправить')

    script(src='javascripts/tinymce/tinymce.min.js')
    script.
        addarticle.init();
