extends ../layout

block content
    h1= title
    p Введите данные для добавлени в базу
    form(method='post', action='/addpreposition')
        div
            input#phrase.form-control(type='text', name='phrase', placeholder='phrase', autocomplete='false')
        div
            input#preposition.form-control(type='text', name='preposition', placeholder='preposition', autocomplete='false')
        div
            input#index.form-control(type='text', name='index', placeholder='index', autocomplete='false')
        div
        button(type='submit').submit Add

    script.
        addpreposition.init();
