extends ../layout

block content
    h1= title
    form(method='post' action='/addtext')
        input(type='text' placeholder='caption')
        textarea#mytextarea
        input(type='submit' value='Отправить')

    script(src='javascripts/js/tinymce/tinymce.min.js')

    script.
        addtext.init();
