extends ../layout

block content
    h1= title
    div
        form(method='post', action='/userswords')
            input#eng.form-control(type='text', name='eng', placeholder='English', autocomplete='false')
            input#rus.form-control(type='text', name='rus', placeholder='Russian', autocomplete='false')
            button(type='submit').submit Add
    div
        table.all-words#userswords
    script.
        adduserword.init();