extends ../layout

block content
    h1= title
    p Введите слово для добавления в базу
    form(method='post', action='/addworda')
        div
            input#eng.form-control(type='text', name='eng', placeholder='English', autocomplete='false')
        div
            input#rus.form-control(type='text', name='rus', placeholder='Russian', autocomplete='false')
        div
        button(type='submit').submit Add

    script.
        addword.init();
