doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8', http-equiv="Content-Type", content="text/html")
    script(src='/javascripts/build/build.min.js')
  body
    include ../partials/header.pug
    div.admin-panel
        block content