extends adminlayout

block content
    include navsidebar.pug

    div.content-wrapper
        div.container
            div.articles-container
            a(href='/addarticle') Add new article
    script.
        articles.init();