extends adminlayout

block content
    include navsidebar.pug

    div.content-wrapper
        div.container
            h1= title
            p.id= id
            form(method='post' action='/articles/edit/')
                input(type='text' placeholder='caption')
                textarea#mytextarea
                input(type='submit' value='Отправить')


        script(src='/javascripts/js/tinymce/tinymce.min.js')
        script.
            editarticle.init();
