div.nav-sidebar
    div.nav-sidebar-inner-scroll
        div.context-header
            a(href='/adminpanel/articles') Admin panel
        ul.sidebar-top-level-items
            li
                a(href='/adminpanel/articles') Работа со статьями
            li
                a(href='/adminpanel/users') Изменение прав доступа