.nav-sidebar
  transition: width 0.3s, left 0.3s
  position: fixed
  z-index: 400
  width: 220px
  top: 40px
  bottom: 0
  left: 0
  background-color: #fafafa
  box-shadow: inset -2px 0 0 #e5e5e5
  transform: translate3d(0, 0, 0)
  box-sizing: border-box
  display: block

.nav-sidebar-inner-scroll
  overflow: hidden
  overflow-y: scroll
  box-sizing: border-box
  display: block
  unicode-bidi: isolate

.context-header
  position: relative
  margin-right: 2px
  width: 220px
  //height 25px

.context-header a
  transition: padding 0.3s;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 10px 16px 10px 10px;
  color: #2e2e2e;

.nav-sidebar ul
  padding-left: 0;
  list-style: none;

.sidebar-top-level-items
  margin-bottom: 60px

ul
  margin-top: 0;
  padding-top: 0;
  //margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;

.nav-sidebar li.active
  box-shadow: inset 4px 0 0 #4b4ba3;

.sidebar-top-level-items > li.active
  background: rgba(0,0,0,0.04);

.nav-sidebar li
  white-space: nowrap;

li
  display: list-item;
  text-align: match-parent;

.nav-sidebar ul
  padding-left: 0;
  list-style: none;

.nav-sidebar li.active > a
  color: #393982

.sidebar-top-level-items > li.active > a
  margin-left: 4px;
  padding-left: 11px;

.nav-sidebar li.active > a
  font-weight: 600;

.sidebar-top-level-items > li > a
  margin-right: 2px;

.nav-sidebar li a
  transition: padding 0.3s;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: #707070;

.sidebar-top-level-items > li.active > a:hover
  background-color: rgba(0,0,0,0.06);

.context-header:hover, .context-header a:hover, .context-header .participants-more .btn-link:hover, .participants-more .context-header .btn-link:hover, .context-header .user-list-more .btn-link:hover, .user-list-more .context-header .btn-link:hover
  background-color: rgba(0,0,0,0.06);
  color: #2e2e2e;

.nav-sidebar a
  text-decoration: none;

a:active, a:hover, .participants-more .btn-link:hover, .user-list-more .btn-link:hover
  outline: 0;

.sidebar-top-level-items > li > a:hover
  background-color: rgba(0,0,0,0.06);
  color: #2e2e2e;

.content-wrapper
  width: 100%;
  transition: padding 0.3s;
  margin-top: 45px;
  padding-bottom: 100px;
  display: block;
  box-sizing: border-box;
  padding-left: 220px;

.container
  padding: 0 16px;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-sizing: border-box;
  margin-top: 20px !important;
.admin-table-articles
  width 100%
  text-align center
