.nav-sidebar {
  transition: width 0.3s, left 0.3s;
  position: fixed;
  z-index: 400;
  width: 220px;
  top: 40px;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  box-shadow: inset -2px 0 0 #e5e5e5;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  display: block;
}
.nav-sidebar-inner-scroll {
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  display: block;
  unicode-bidi: isolate;
}
.context-header {
  position: relative;
  margin-right: 2px;
  width: 220px;
}
.context-header a {
  transition: padding 0.3s;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 10px 16px 10px 10px;
  color: #2e2e2e;
}
.nav-sidebar ul {
  padding-left: 0;
  list-style: none;
}
.sidebar-top-level-items {
  margin-bottom: 60px;
}
ul {
  margin-top: 0;
  padding-top: 0;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
.nav-sidebar li.active {
  box-shadow: inset 4px 0 0 #4b4ba3;
}
.sidebar-top-level-items > li.active {
  background: rgba(0,0,0,0.04);
}
.nav-sidebar li {
  white-space: nowrap;
}
li {
  display: list-item;
  text-align: match-parent;
}
.nav-sidebar ul {
  padding-left: 0;
  list-style: none;
}
.nav-sidebar li.active > a {
  color: #393982;
}
.sidebar-top-level-items > li.active > a {
  margin-left: 4px;
  padding-left: 11px;
}
.nav-sidebar li.active > a {
  font-weight: 600;
}
.sidebar-top-level-items > li > a {
  margin-right: 2px;
}
.nav-sidebar li a {
  transition: padding 0.3s;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: #707070;
}
.sidebar-top-level-items > li.active > a:hover {
  background-color: rgba(0,0,0,0.06);
}
.context-header:hover,
.context-header a:hover,
.context-header .participants-more .btn-link:hover,
.participants-more .context-header .btn-link:hover,
.context-header .user-list-more .btn-link:hover,
.user-list-more .context-header .btn-link:hover {
  background-color: rgba(0,0,0,0.06);
  color: #2e2e2e;
}
.nav-sidebar a {
  text-decoration: none;
}
a:active,
a:hover,
.participants-more .btn-link:hover,
.user-list-more .btn-link:hover {
  outline: 0;
}
.sidebar-top-level-items > li > a:hover {
  background-color: rgba(0,0,0,0.06);
  color: #2e2e2e;
}
.content-wrapper {
  width: 100%;
  transition: padding 0.3s;
  margin-top: 45px;
  padding-bottom: 100px;
  display: block;
  box-sizing: border-box;
  padding-left: 220px;
}
.container {
  padding: 0 16px;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-sizing: border-box;
  margin-top: 20px !important;
}
.admin-table-articles {
  width: 100%;
  text-align: center;
}
#cloud {
  background-color: #000;
  color: #fafaff;
  position: absolute;
  z-index: 101;
  font-size: larger;
  visibility: hidden;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}
#words,
#text {
  position: absolute;
}
#phrase,
#text {
  width: 600px;
  margin-left: 0;
}
#cloud {
  margin-top: 0;
  margin-left: 0;
}
#phrase,
#words,
#cloud {
  border-radius: 5px;
}
#phrase {
  position: fixed;
  background-color: #e0e4ff;
  top: 50px;
  min-height: 60px;
  z-index: 100;
  visibility: hidden;
  text-align: center;
  border: 1px solid #000;
}
#text {
  background-color: #e6e6e6;
  z-index: 99;
  border-radius: 5px;
}
#words {
  background-color: #effff2;
  margin-left: 600px;
  min-height: 10px;
  min-width: 10px;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  padding: 5px;
  border: 1px solid #000;
}
td {
  padding: 5px;
  border: 1px solid #000;
}
body {
  font-family: Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell;
  font-size: 14px;
  line-height: 1.428571429;
  color: #2e2e2e;
  background-color: #fff;
  margin: 0;
}
.navbar {
  background-color: #27279c;
  padding: 0 16px;
  min-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  z-index: 1000;
  border-radius: 0;
}
.header-content {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 0;
}
.title-container {
  display: flex;
}
.title {
  display: flex;
  position: relative;
  margin: 0;
  font-size: 18px;
  vertical-align: top;
  white-space: nowrap;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.1;
  background-color: #27279c;
  border: none;
}
#logo {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin: 5px 2px 5px -8px;
  border-radius: 4px;
  color: #d1d1f0;
}
#logo > svg {
  width: 24px;
  height: 24px;
}
#logo:hover {
  background-color: rgba(209,209,240,0.2);
  color: #fff;
}
.list-unstyled {
  display: flex;
  padding-left: 0;
  list-style: none;
  box-sizing: border-box;
}
.navbar-sub-nav {
  margin: 0 0 0 6px;
  color: #d1d1f0;
}
.navbar-sub-nav > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  margin: 4px 2px;
  font-size: 12px;
  color: currentColor;
  border-radius: 4px;
  height: 32px;
  font-weight: 600;
  stroke: #d1d1f0;
}
.navbar-sub-nav > li > a:hover {
  text-decoration: none;
  outline: 0;
  color: #fff;
  background-color: rgba(209,209,240,0.2);
  stroke: #fff;
}
a {
  transition: background-clor 100ms linear, color 100ms linear, border 100ms linear;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  list-style: none;
}
.caret-down {
  height: 11px;
  width: 11px;
  margin-left: 4px;
}
.navbar-callapse {
  min-height: 40px;
}
.header-user {
  color: #d1d1f0;
}
.header-user-avatar {
  transition: border-color 100ms linear;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  float: left;
  width: 23px;
  height: 23px;
}
.open {
  display: block;
  min-height: 40px;
  position: relative;
}
.open .dropdown-menu {
  background-color: #fff;
  display: block;
  min-height: 40px;
  max-height: 312px;
  overflow-y: auto;
  transform: translateY(0);
  position: absolute;
  width: auto;
  top: 100%;
  left: 0;
  z-index: 300;
  min-width: 240px;
  max-width: 500px;
  margin-top: 4px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box;
}
.open .dropdown-menu > ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #d1d1f0;
  list-style: none;
}
.open .dropdown-menu > ul > li {
  display: block;
  text-align: left;
  list-style: none;
  padding: 0 1px;
}
.dropdown-menu > ul > li > a:hover {
  background-color: #eee;
  color: #2e2e2e;
  outline: 0;
  text-decoration: none;
}
.open .dropdown-menu > ul > li > a {
  color: #2e2e2e;
  text-align: left;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 6px 8px;
  margin: 4px 2px;
  font-size: 12px;
  border-radius: 4px;
  height: 32px;
  font-weight: 600;
  justify-content: left;
}
.open > a {
  color: #292961 !important;
  background-color: #fff;
}
.open > a:hover {
  color: #292961 !important;
  background-color: #fff !important;
  stroke: #d1d1f0 !important;
}
.open .dropdown-menu-align-right {
  left: auto;
  right: 0;
}
.dropdown-menu {
  display: none;
}
h1 {
  color: #5a5a5a;
  font-size: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.greenWord {
  color: #4d42ff;
  background: #16ff1f;
  font-size: 25px;
  list-style: none;
  border-radius: 4px;
}
#prep {
  margin-top: 10px;
}
#lastWords,
#lastPrepositions {
  padding-left: 0px;
}
.redWord {
  color: #202475;
  font-size: 25px;
  background: #ff4d39;
  list-style: none;
  border-radius: 4px;
}
#rusLabel,
#rusVerb,
#preposition,
.rus-word {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  align-self: center;
}
#partOfEng,
.eng-word {
  font-size: 30px;
}
#eLabel,
.eng-word-container {
  margin: 10px;
  border-top: 1px solid #e5e5e5;
}
#rLabel,
.rus-word-container {
  background: #d3d3d3;
  display: inline-flex;
  min-height: 80px;
  height: 80px;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
}
.newEng {
  font-size: 30px;
  display: inline-block;
}
.engPartclass {
  display: inline-block;
}
.form-control {
  width: 400px;
  font-size: 30px;
  margin-left: 10px;
  border: 1px solid #cecece;
  background: #fafaff;
  border-radius: 8px;
}
.space {
  width: 20px;
}
.submit {
  font-size: 14px;
  align-self: center;
  cursor: pointer;
  border: 1px solid #cecece;
  background: #e5f3f6;
  box-shadow: inset 0px 20px 20px #fff;
  border-radius: 8px;
  margin: 1px 50px 0px 28px;
  height: 40px;
  width: 90px;
  visibility: hidden;
}
.submit:hover {
  box-shadow: inset 0px -20px 20px #fff;
}
.submit:active {
  margin-top: 1px;
  margin-bottom: -1px;
  zoom: 1;
}
#rusVerb,
#infinitive,
#neededForm {
  font-size: 27px;
}
table,
td {
  border: 1px solid #000;
}
.search {
  width: 100%;
}
footer {
  bottom: 0;
  height: 40px;
  text-align: center;
  background: #e3e8f7;
  border-radius: 5px;
}
.content {
  display: block;
  box-sizing: border-box;
  width: 600px;
  padding: 40px 30px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.content2 {
  min-height: 85vmin;
}
.main {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}
