header-backgound-color = #27279c
header-min-height = 40px
header-color = #d1d1f0
header-hover-color = #fff
hover-backgound-color = rgba(209,209,240,0.2)
@require 'adminpanel'
@require 'test'

body
  font-family: Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell
  font-size: 14px
  line-height: 1.428571429
  color: #2e2e2e
  background-color: #fff
  margin: 0

.navbar
  background-color header-backgound-color
  padding: 0 16px
  min-height: header-min-height
  position: fixed
  top: 0
  left: 0
  right: 0
  display: block
  box-sizing: border-box
  z-index: 1000
  border-radius: 0

.header-content
  min-height: header-min-height
  display: flex
  justify-content: space-between
  position: relative
  padding-left: 0

.title-container
  display: flex
.title
  //padding-right: 0
  //color: currentColor
  display: flex
  position: relative
  margin: 0
  font-size: 18px
  vertical-align: top
  white-space: nowrap
  font-weight: 600
  font-family: inherit
  line-height: 1.1
  background-color #27279c
  border: none

#logo
  display: flex
  align-items: center
  padding: 2px 8px
  margin: 5px 2px 5px -8px
  border-radius: 4px
  color: header-color

#logo > svg
  width: 24px
  height: 24px

#logo:hover
  background-color: hover-backgound-color
  color: header-hover-color

.list-unstyled
  display: flex
  padding-left: 0
  list-style: none
  box-sizing: border-box

.navbar-sub-nav
  margin: 0 0 0 6px
  color: header-color

.navbar-sub-nav > li > a
  display: flex
  align-items: center
  justify-content: center
  padding: 6px 8px
  margin: 4px 2px
  font-size: 12px
  color: currentColor
  border-radius: 4px
  height: 32px
  font-weight: 600
  stroke: header-color

.navbar-sub-nav > li > a:hover
  text-decoration: none
  outline: 0
  color: header-hover-color
  background-color: hover-backgound-color
  stroke: header-hover-color

a
  transition: background-clor 100ms linear, color 100ms linear, border 100ms linear
  text-decoration: none
  background-color: transparent
  box-sizing: border-box
  list-style: none

.caret-down
  height: 11px
  width: 11px
  margin-left: 4px


.navbar-callapse
  min-height: header-min-height

.header-user
  color: header-color

.header-user-avatar
  transition: border-color 100ms linear
  border: 1px solid #f5f5f5
  border-radius: 50%
  float: left
  width: 23px
  height: 23px

.open
  display: block
  min-height: header-min-height
  position: relative

.open .dropdown-menu
  background-color #ffffff
  display: block
  min-height: 40px;
  max-height: 312px;
  overflow-y: auto;
  transform: translateY(0);
  position: absolute;
  width: auto;
  top: 100%;
  left: 0;
  z-index: 300;
  min-width: 240px;
  max-width: 500px;
  margin-top: 4px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box;

.open .dropdown-menu > ul
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #d1d1f0;
  list-style: none;

.open .dropdown-menu > ul > li
  display: block;
  text-align: left;
  list-style: none;
  padding: 0 1px;

.dropdown-menu > ul > li > a:hover
  background-color: #eee;
  color: #2e2e2e;
  outline: 0;
  text-decoration: none;

.open .dropdown-menu > ul > li > a
  color: #2e2e2e;
  text-align left
  display: -webkit-flex
  display: flex
  align-items: center
  padding: 6px 8px
  margin: 4px 2px
  font-size: 12px
  border-radius: 4px
  height: 32px
  font-weight: 600
  justify-content: left;

.open > a
  color: #292961 !important
  background-color: #fff;

.open > a:hover
  color: #292961 !important
  background-color: #fff !important
  stroke: header-color !important

.open .dropdown-menu-align-right
  left: auto;
  right: 0;

.dropdown-menu
  display none



h1
  color: #5a5a5a
  font-size 15px
  border-bottom: 1px solid #e5e5e5;

.greenWord
  color: #4d42ff
  background #16ff1f
  font-size 25px;
  list-style: none
  border-radius 4px
#prep
  margin-top 10px;
#lastWords, #lastPrepositions
  padding-left 0px

.redWord
  color: #202475
  font-size 25px;
  background #ff4d39
  list-style: none
  border-radius 4px

#rusLabel, #rusVerb, #preposition, .rus-word
  font-size 30px
  padding-left 20px
  padding-right 20px
  align-self center

#partOfEng, .eng-word
  font-size 30px

#eLabel, .eng-word-container
  margin 10px
  //border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;

#rLabel, .rus-word-container
  background #d3d3d3
  display: inline-flex
  min-height 80px;
  height 80px
  border-radius 5px
  align-content center
  justify-content center

.newEng
  font-size 30px
  display: inline-block
.engPartclass
  display: inline-block

.form-control
  width: 400px;
  font-size: 30px;
  //padding: 6px 0 4px 10px;
  margin-left 10px
  border: 1px solid #cecece;
  background: #fafaff;
  border-radius: 8px;

.space
  width: 20px

.submit
  font-size 14px
  align-self center
  cursor: pointer
  border: 1px solid #cecece
  background: #e5f3f6
  box-shadow: inset 0px 20px 20px #ffffff
  border-radius: 8px
  margin: 1px 50px 0px 28px
  height 40px
  width: 90px
  visibility hidden

.submit:hover
  box-shadow: inset 0px -20px 20px #ffffff

.submit:active
  margin-top: 1px
  margin-bottom: -1px
  zoom: 1

#rusVerb, #infinitive, #neededForm
  font-size: 27px
table, td {
  border: 1px solid black;
}
.search
  width 100%
footer
  bottom: 0
  height: 40px
  text-align center
  background #e3e8f7
  border-radius 5px
  //box-sizing: border-box;
.content
  display: block
  box-sizing: border-box;
  width 600px
  //min-height 600px
  padding 40px 30px
  position relative
  top: 0;
  right: 0;
  //bottom: 0;
  left: 0;
  margin: auto;
.content2
  min-height: 85vmin
  //height: 85vh;
.main
  align-items: center
  justify-content: center
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
