#cloud {
  background-color: #000;
  color: #fafaff;
  position: absolute;
  z-index: 101;
  font-size: larger;
  visibility: hidden;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}
#text {
  position: relative;
}
#phrase,
#words {
  position: absolute;
}
#phrase,
#text {
  width: 600px;
  margin-left: 50px;
}
#cloud {
  margin-top: 0;
  margin-left: 0;
}
#text,
#words {
  top: 60px;
}
#phrase,
#words,
#cloud {
  border-radius: 5px;
}
#phrase {
  background-color: #e0e4ff;
  top: 0;
  height: 60px;
  z-index: 100;
  visibility: hidden;
  text-align: center;
  overflow-y: scroll;
}
#text {
  z-index: 99;
}
#words {
  background-color: #effff2;
  margin-left: 655px;
  min-height: 100px;
  min-width: 200px;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  padding: 5px;
  border: 1px solid #000;
}
td {
  padding: 5px;
  border: 1px solid #000;
}
