#cloud
  background-color #000000
  color #fafaff
  position absolute
  z-index 101
  font-size larger
  visibility hidden
  box-sizing border-box
  padding-left 5px
  padding-right 5px

#words, #text
  position absolute

#phrase, #text
  width 600px
  margin-left 0

#cloud
  margin-top 0
  margin-left 0

#phrase, #words, #cloud
  border-radius 5px

#phrase
  position fixed
  background-color #e0e4ff
  top 50px
  min-height 60px
  z-index 100
  visibility hidden
  text-align center
  border: 1px solid black

#text
  background-color #e6e6e6
  z-index 99
  border-radius 5px

#words
  background-color #effff2
  margin-left 600px
  min-height 10px
  min-width 10px

table
  border-collapse collapse

th
  text-align left
  padding 5px
  border 1px solid black

td
  padding: 5px
  border: 1px solid black

