extends ../layout

block content
    h1= title

    div.rus-word-container
        p.rus-word= rusVerb
    div.eng-word-container
        p.eng-word#infinitive= infinitive
    div.eng-word-container
        p.eng-word#neededForm= neededForm
    //p#idiv= idiv
    form(method='post')
        input.form-control(type='text', name='irregular', autocomplete='off' )
        button(type='submit').submit Go
    div
        ul.last-words
    div.statistic-container
        p#correct
        p#wrong
        p#persent
    p.ivis= engWord
    script.
        irregularverbs.init();