extends ../layout

block content
    h1= title
    div#rLabel
        p#preposition
    form(method='post', action='/preposition')
        div.eng-word-container
            input#prep.form-control(type='text', name='prep', autocomplete='off' )
            button(type='submit').submit Go
    div
        ul#lastPrepositions
    div#statistic2
        p#correct2
        p#wrong2
        p#persent2
    script.
        preposition.init();