extends ../layout

block content

    h1= title

    div.rus-word-container
        p.rus-word= rus
    div.eng-word-container
        p.eng-word= eng
    form(method='post')
            input.form-control(type='text', name='eng', autocomplete='off' )
            button(type='submit').submit Go
    div
        ul.last-words
    div.statistic-container
        p#correct
        p#wrong
        p#persent

    script.
        words.init();