extends ../layout

block content
    h1= title
    form(method='post', action='/feedback')
        div
            input#login.form-control(type='text', name='username', placeholder='your name')
        div
            textarea#textarea.form-control(name='text', placeholder='message')
        div(data-sitekey='6LfiXUsUAAAAANnIT3yF7YjV9gbxDsNM24Q_8Jr5').g-recaptcha

        div
        button(type='submit', onclick="submitForm();")#Enter.submit Enter
    p
    p Или напишите нам в 
        a(href='https://twitter.com/englang_space') twitter
    script(src='https://www.google.com/recaptcha/api.js')
    script.
        "use strict";
        function submitForm() {
            const http = new XMLHttpRequest();
            http.open('POST', '/feedback', true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            const login = document.getElementById('login');
            const text = document.getElementById('textarea');
            http.send(`username=${login.value} &text=${text.value}`);
            http.onreadystatechange = function () {

                if (this.readyState != 4) return;
                if (this.status != 200) return;

                login.value = '';
                text.value = '';
                alert('sent');
            };
            return false;
        };
